@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-1dihTgSYeoS7_font-family: "Inter";
  --mixin-1dihTgSYeoS7_font-size: 16px;
  --mixin-1dihTgSYeoS7_font-weight: 400;
  --mixin-1dihTgSYeoS7_font-style: normal;
  --mixin-1dihTgSYeoS7_color: #535353;
  --mixin-1dihTgSYeoS7_text-align: left;
  --mixin-1dihTgSYeoS7_text-transform: none;
  --mixin-1dihTgSYeoS7_line-height: 1.5;
  --mixin-1dihTgSYeoS7_letter-spacing: normal;
  --mixin-1dihTgSYeoS7_white-space: pre-wrap;
  --mixin-1dihTgSYeoS7_user-select: text;
  --mixin-1dihTgSYeoS7_text-decoration-line: none;
  --mixin-1dihTgSYeoS7_text-overflow: clip;
  --mixin-bh5PKC84j-gA_color: #000000;
  --mixin-bh5PKC84j-gA_font-weight: 900;
  --mixin-bh5PKC84j-gA_font-size: 72px;
  --mixin-bh5PKC84j-gA_line-height: 1;
  --mixin-bh5PKC84j-gA_letter-spacing: -4px;
  --mixin-zp9gILcaufMx_font-family: "Inter";
  --mixin-zp9gILcaufMx_color: #000000;
  --mixin-zp9gILcaufMx_font-size: 48px;
  --mixin-zp9gILcaufMx_font-weight: 700;
  --mixin-zp9gILcaufMx_letter-spacing: -1px;
  --mixin-zp9gILcaufMx_line-height: 1.1;
  --mixin-Mt9i6M8WRo1C_color: #0070f3;
  --mixin-aosyyzHN_N1W_font-family: "Inter";
  --mixin-aosyyzHN_N1W_color: #000000;
  --mixin-aosyyzHN_N1W_font-size: 32px;
  --mixin-aosyyzHN_N1W_font-weight: 600;
  --mixin-aosyyzHN_N1W_letter-spacing: -0.8px;
  --mixin-aosyyzHN_N1W_line-height: 1.2;
  --mixin-dv97ITduCN0e_font-family: "Inter";
  --mixin-dv97ITduCN0e_color: #000000;
  --mixin-dv97ITduCN0e_font-size: 24px;
  --mixin-dv97ITduCN0e_font-weight: 600;
  --mixin-dv97ITduCN0e_letter-spacing: -0.5px;
  --mixin-dv97ITduCN0e_line-height: 1.3;
  --mixin-G6swfogXDAMv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-G6swfogXDAMv_border-bottom-color: #dddddd;
  --mixin-G6swfogXDAMv_border-bottom-style: solid;
  --mixin-G6swfogXDAMv_border-bottom-width: 1px;
  --mixin-G6swfogXDAMv_border-left-color: #dddddd;
  --mixin-G6swfogXDAMv_border-left-style: solid;
  --mixin-G6swfogXDAMv_border-left-width: 1px;
  --mixin-G6swfogXDAMv_border-right-color: #dddddd;
  --mixin-G6swfogXDAMv_border-right-style: solid;
  --mixin-G6swfogXDAMv_border-right-width: 1px;
  --mixin-G6swfogXDAMv_border-top-color: #dddddd;
  --mixin-G6swfogXDAMv_border-top-style: solid;
  --mixin-G6swfogXDAMv_border-top-width: 1px;
  --mixin-G6swfogXDAMv_border-bottom-left-radius: 3px;
  --mixin-G6swfogXDAMv_border-bottom-right-radius: 3px;
  --mixin-G6swfogXDAMv_border-top-left-radius: 3px;
  --mixin-G6swfogXDAMv_border-top-right-radius: 3px;
  --mixin-G6swfogXDAMv_font-family: "Inconsolata";
  --mixin-G6swfogXDAMv_padding-bottom: 1px;
  --mixin-G6swfogXDAMv_padding-left: 4px;
  --mixin-G6swfogXDAMv_padding-right: 4px;
  --mixin-G6swfogXDAMv_padding-top: 1px;
  --mixin-__siQXOpOiRJ_border-left-color: #dddddd;
  --mixin-__siQXOpOiRJ_border-left-style: solid;
  --mixin-__siQXOpOiRJ_border-left-width: 3px;
  --mixin-__siQXOpOiRJ_color: #888888;
  --mixin-__siQXOpOiRJ_padding-left: 10px;
  --mixin-J7dIBVungcRe_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-J7dIBVungcRe_border-bottom-color: #dddddd;
  --mixin-J7dIBVungcRe_border-bottom-style: solid;
  --mixin-J7dIBVungcRe_border-bottom-width: 1px;
  --mixin-J7dIBVungcRe_border-left-color: #dddddd;
  --mixin-J7dIBVungcRe_border-left-style: solid;
  --mixin-J7dIBVungcRe_border-left-width: 1px;
  --mixin-J7dIBVungcRe_border-right-color: #dddddd;
  --mixin-J7dIBVungcRe_border-right-style: solid;
  --mixin-J7dIBVungcRe_border-right-width: 1px;
  --mixin-J7dIBVungcRe_border-top-color: #dddddd;
  --mixin-J7dIBVungcRe_border-top-style: solid;
  --mixin-J7dIBVungcRe_border-top-width: 1px;
  --mixin-J7dIBVungcRe_border-bottom-left-radius: 3px;
  --mixin-J7dIBVungcRe_border-bottom-right-radius: 3px;
  --mixin-J7dIBVungcRe_border-top-left-radius: 3px;
  --mixin-J7dIBVungcRe_border-top-right-radius: 3px;
  --mixin-J7dIBVungcRe_font-family: "Inconsolata";
  --mixin-J7dIBVungcRe_padding-bottom: 3px;
  --mixin-J7dIBVungcRe_padding-left: 6px;
  --mixin-J7dIBVungcRe_padding-right: 6px;
  --mixin-J7dIBVungcRe_padding-top: 3px;
  --mixin-yijVUbo_M36t-_display: flex;
  --mixin-yijVUbo_M36t-_flex-direction: column;
  --mixin-yijVUbo_M36t-_align-items: stretch;
  --mixin-yijVUbo_M36t-_justify-content: flex-start;
  --mixin-yijVUbo_M36t-_list-style-position: outside;
  --mixin-yijVUbo_M36t-_padding-left: 40px;
  --mixin-yijVUbo_M36t-_position: relative;
  --mixin-yijVUbo_M36t-_list-style-type: disc;
  --mixin-OTnSiry1I6wux_display: flex;
  --mixin-OTnSiry1I6wux_flex-direction: column;
  --mixin-OTnSiry1I6wux_align-items: stretch;
  --mixin-OTnSiry1I6wux_justify-content: flex-start;
  --mixin-OTnSiry1I6wux_list-style-position: outside;
  --mixin-OTnSiry1I6wux_padding-left: 40px;
  --mixin-OTnSiry1I6wux_position: relative;
  --mixin-OTnSiry1I6wux_list-style-type: decimal;
  --mixin-TXKKzKC1L4qiU_font-family: "Inter";
  --mixin-TXKKzKC1L4qiU_color: #000000;
  --mixin-TXKKzKC1L4qiU_font-size: 20px;
  --mixin-TXKKzKC1L4qiU_font-weight: 600;
  --mixin-TXKKzKC1L4qiU_letter-spacing: -0.3px;
  --mixin-TXKKzKC1L4qiU_line-height: 1.5;
  --mixin-f9WwPZ57jRHF1_font-family: "Inter";
  --mixin-f9WwPZ57jRHF1_color: #000000;
  --mixin-f9WwPZ57jRHF1_font-size: 16px;
  --mixin-f9WwPZ57jRHF1_font-weight: 600;
  --mixin-f9WwPZ57jRHF1_line-height: 1.5;
  --mixin-4MDhbfhj3uCiS_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-1dihTgSYeoS7_font-family);
  font-size: var(--mixin-1dihTgSYeoS7_font-size);
  font-weight: var(--mixin-1dihTgSYeoS7_font-weight);
  font-style: var(--mixin-1dihTgSYeoS7_font-style);
  color: var(--mixin-1dihTgSYeoS7_color);
  text-align: var(--mixin-1dihTgSYeoS7_text-align);
  text-transform: var(--mixin-1dihTgSYeoS7_text-transform);
  line-height: var(--mixin-1dihTgSYeoS7_line-height);
  letter-spacing: var(--mixin-1dihTgSYeoS7_letter-spacing);
  white-space: var(--mixin-1dihTgSYeoS7_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-bh5PKC84j-gA_color);
  font-weight: var(--mixin-bh5PKC84j-gA_font-weight);
  font-size: var(--mixin-bh5PKC84j-gA_font-size);
  line-height: var(--mixin-bh5PKC84j-gA_line-height);
  letter-spacing: var(--mixin-bh5PKC84j-gA_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-zp9gILcaufMx_font-family);
  color: var(--mixin-zp9gILcaufMx_color);
  font-size: var(--mixin-zp9gILcaufMx_font-size);
  font-weight: var(--mixin-zp9gILcaufMx_font-weight);
  letter-spacing: var(--mixin-zp9gILcaufMx_letter-spacing);
  line-height: var(--mixin-zp9gILcaufMx_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-Mt9i6M8WRo1C_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-aosyyzHN_N1W_font-family);
  color: var(--mixin-aosyyzHN_N1W_color);
  font-size: var(--mixin-aosyyzHN_N1W_font-size);
  font-weight: var(--mixin-aosyyzHN_N1W_font-weight);
  letter-spacing: var(--mixin-aosyyzHN_N1W_letter-spacing);
  line-height: var(--mixin-aosyyzHN_N1W_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-dv97ITduCN0e_font-family);
  color: var(--mixin-dv97ITduCN0e_color);
  font-size: var(--mixin-dv97ITduCN0e_font-size);
  font-weight: var(--mixin-dv97ITduCN0e_font-weight);
  letter-spacing: var(--mixin-dv97ITduCN0e_letter-spacing);
  line-height: var(--mixin-dv97ITduCN0e_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-G6swfogXDAMv_background);
  font-family: var(--mixin-G6swfogXDAMv_font-family);
  border-radius: var(--mixin-G6swfogXDAMv_border-top-left-radius)
    var(--mixin-G6swfogXDAMv_border-top-right-radius)
    var(--mixin-G6swfogXDAMv_border-bottom-right-radius)
    var(--mixin-G6swfogXDAMv_border-bottom-left-radius);
  padding: var(--mixin-G6swfogXDAMv_padding-top)
    var(--mixin-G6swfogXDAMv_padding-right)
    var(--mixin-G6swfogXDAMv_padding-bottom)
    var(--mixin-G6swfogXDAMv_padding-left);
  border-top: var(--mixin-G6swfogXDAMv_border-top-width)
    var(--mixin-G6swfogXDAMv_border-top-style)
    var(--mixin-G6swfogXDAMv_border-top-color);
  border-right: var(--mixin-G6swfogXDAMv_border-right-width)
    var(--mixin-G6swfogXDAMv_border-right-style)
    var(--mixin-G6swfogXDAMv_border-right-color);
  border-bottom: var(--mixin-G6swfogXDAMv_border-bottom-width)
    var(--mixin-G6swfogXDAMv_border-bottom-style)
    var(--mixin-G6swfogXDAMv_border-bottom-color);
  border-left: var(--mixin-G6swfogXDAMv_border-left-width)
    var(--mixin-G6swfogXDAMv_border-left-style)
    var(--mixin-G6swfogXDAMv_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-__siQXOpOiRJ_color);
  padding-left: var(--mixin-__siQXOpOiRJ_padding-left);
  border-left: var(--mixin-__siQXOpOiRJ_border-left-width)
    var(--mixin-__siQXOpOiRJ_border-left-style)
    var(--mixin-__siQXOpOiRJ_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-J7dIBVungcRe_background);
  font-family: var(--mixin-J7dIBVungcRe_font-family);
  border-radius: var(--mixin-J7dIBVungcRe_border-top-left-radius)
    var(--mixin-J7dIBVungcRe_border-top-right-radius)
    var(--mixin-J7dIBVungcRe_border-bottom-right-radius)
    var(--mixin-J7dIBVungcRe_border-bottom-left-radius);
  padding: var(--mixin-J7dIBVungcRe_padding-top)
    var(--mixin-J7dIBVungcRe_padding-right)
    var(--mixin-J7dIBVungcRe_padding-bottom)
    var(--mixin-J7dIBVungcRe_padding-left);
  border-top: var(--mixin-J7dIBVungcRe_border-top-width)
    var(--mixin-J7dIBVungcRe_border-top-style)
    var(--mixin-J7dIBVungcRe_border-top-color);
  border-right: var(--mixin-J7dIBVungcRe_border-right-width)
    var(--mixin-J7dIBVungcRe_border-right-style)
    var(--mixin-J7dIBVungcRe_border-right-color);
  border-bottom: var(--mixin-J7dIBVungcRe_border-bottom-width)
    var(--mixin-J7dIBVungcRe_border-bottom-style)
    var(--mixin-J7dIBVungcRe_border-bottom-color);
  border-left: var(--mixin-J7dIBVungcRe_border-left-width)
    var(--mixin-J7dIBVungcRe_border-left-style)
    var(--mixin-J7dIBVungcRe_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-yijVUbo_M36t-_display);
  flex-direction: var(--mixin-yijVUbo_M36t-_flex-direction);
  align-items: var(--mixin-yijVUbo_M36t-_align-items);
  justify-content: var(--mixin-yijVUbo_M36t-_justify-content);
  list-style-position: var(--mixin-yijVUbo_M36t-_list-style-position);
  padding-left: var(--mixin-yijVUbo_M36t-_padding-left);
  position: var(--mixin-yijVUbo_M36t-_position);
  list-style-type: var(--mixin-yijVUbo_M36t-_list-style-type);
  flex-column-gap: var(--mixin-yijVUbo_M36t-_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-OTnSiry1I6wux_display);
  flex-direction: var(--mixin-OTnSiry1I6wux_flex-direction);
  align-items: var(--mixin-OTnSiry1I6wux_align-items);
  justify-content: var(--mixin-OTnSiry1I6wux_justify-content);
  list-style-position: var(--mixin-OTnSiry1I6wux_list-style-position);
  padding-left: var(--mixin-OTnSiry1I6wux_padding-left);
  position: var(--mixin-OTnSiry1I6wux_position);
  list-style-type: var(--mixin-OTnSiry1I6wux_list-style-type);
  flex-column-gap: var(--mixin-OTnSiry1I6wux_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-TXKKzKC1L4qiU_font-family);
  color: var(--mixin-TXKKzKC1L4qiU_color);
  font-size: var(--mixin-TXKKzKC1L4qiU_font-size);
  font-weight: var(--mixin-TXKKzKC1L4qiU_font-weight);
  letter-spacing: var(--mixin-TXKKzKC1L4qiU_letter-spacing);
  line-height: var(--mixin-TXKKzKC1L4qiU_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-f9WwPZ57jRHF1_font-family);
  color: var(--mixin-f9WwPZ57jRHF1_color);
  font-size: var(--mixin-f9WwPZ57jRHF1_font-size);
  font-weight: var(--mixin-f9WwPZ57jRHF1_font-weight);
  line-height: var(--mixin-f9WwPZ57jRHF1_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-4MDhbfhj3uCiS_color);
}
